USE [master]
GO
/****** Object:  Database [FairManagementDB]    Script Date: 5/28/2015 1:02:49 AM ******/
CREATE DATABASE [FairManagementDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'FairManagementDB', FILENAME = N'G:\Dot_Net\FairManagementProject\DB\FairManagementDB.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'FairManagementDB_log', FILENAME = N'G:\Dot_Net\FairManagementProject\DB\FairManagementDB_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [FairManagementDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [FairManagementDB]
GO
/****** Object:  Table [dbo].[table_mapping]    Script Date: 5/28/2015 1:02:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[table_mapping](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Idzone] [int] NOT NULL,
	[Idvisitor] [int] NOT NULL,
 CONSTRAINT [PK_table_mapping] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[visitor_info]    Script Date: 5/28/2015 1:02:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[visitor_info](
	[VisitorId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
	[Contact] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_visitor_info] PRIMARY KEY CLUSTERED 
(
	[VisitorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[zone_type]    Script Date: 5/28/2015 1:02:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[zone_type](
	[ZoneId] [int] IDENTITY(1,1) NOT NULL,
	[ZoneName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_zone_type] PRIMARY KEY CLUSTERED 
(
	[ZoneId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Index [IX_visitor_info]    Script Date: 5/28/2015 1:02:49 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_visitor_info] ON [dbo].[visitor_info]
(
	[VisitorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[table_mapping]  WITH CHECK ADD  CONSTRAINT [FK_table_mapping_visitor_info] FOREIGN KEY([Idvisitor])
REFERENCES [dbo].[visitor_info] ([VisitorId])
GO
ALTER TABLE [dbo].[table_mapping] CHECK CONSTRAINT [FK_table_mapping_visitor_info]
GO
ALTER TABLE [dbo].[table_mapping]  WITH CHECK ADD  CONSTRAINT [FK_table_mapping_zone_type] FOREIGN KEY([Idzone])
REFERENCES [dbo].[zone_type] ([ZoneId])
GO
ALTER TABLE [dbo].[table_mapping] CHECK CONSTRAINT [FK_table_mapping_zone_type]
GO
USE [master]
GO
